html{
  // font-size: 62.5%!important;
  font-size: 20px;  
  font-family: "source-han-serif-sc", "SimSun", "\5B8B\4F53", serif;
}
body{
  font-size: .8rem;
}
a{
  color: #41403e;
}
.navigator{
  h1{
    font-size: 1.4rem;
  }
  .menu{
    padding: 1rem 0;
    .row{
      margin-bottom: 0;
    }
  }
}
p,
li{
  line-height: 1.8;
}
@import "_base.scss";
@import "layout/_archive";
@import "layout/_recent-posts";
@import "widget/_footer";
@import "widget/_pagination";
@import "widget/_code";
@import "widget/_content";